body {
  margin: 0px;
  background-color: rgb(20, 20, 20);
}

ul, ol, h1, h2, h3, button {
  margin: 0px;
  padding: 0px;
}

body, button, a {
  color: lightgray;
}

section:not(section:last-child) {
  margin-bottom: 50px;
}

h1, h2, h3 {
  margin-bottom: 10px;
}

li:not(:last-child) {
  margin-bottom: 5px;
}

ul, ol {
  list-style-position: inside;
}


html, h1, h2, h3 {
  font-family: sans-serif;
  font-weight: 400;
}