.nav {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0px;
  width: 100%;
  height: 48px;
  z-index: 1;
}

.nav button {
  font-size: 16px;
  padding: 12px;
  border: none;
  background-color: rgb(100, 100, 100);
}

.nav button:hover:not(.selected) {
  background-color: rgb(75, 75, 75);
}

.nav button:active:not(.selected) {
  background-color: rgb(75, 75, 75);
}


.nav .selected {
  background-color: rgb(50, 50, 100);
}
