.flex {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.flex p {
  margin: 0px auto;
  margin-bottom: 10px;
}

.photos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.photos img {
  height: auto;
  max-height: calc(100vh - 150px);
}


.container {
  margin: 5px
}